:root {
  /*Colors*/
  --primary: #eb2f64;
  --primary-light: #FF3366;
  --primary-dark: #BA265D;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --aside-width: min(27%, 20rem);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, var(--primary-light), var(--primary-dark));
  line-height: 1.7;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  color: var(--grey-dark-2);
}

.main-container {
  background-color: #ddd;
  width: 120rem;
  min-height: 30rem;
  max-width: 100%;
  margin: 10rem auto;
  box-shadow: 1.5rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.body {
  display: flex;
  align-items: stretch;
}

main {
  max-width: calc(100% - var(--aside-width));
}

.details {
  display: flex;
  margin: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

hr {
  color: var(--grey-dark-2);
}

.text-primary {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--grey-dark-1);
  font-weight: 300;
  letter-spacing: 3px;
  margin: 1rem 2rem;
  margin-left: 3rem;
}

.text-secondary {
  font-size: 1.7rem;
  color: black;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: white;
}
.nav__img {
  height: 80%;
  padding-left: 1rem;
}
.nav__icons {
  display: flex;
  height: 100%;
}

.aside {
  background: var(--grey-dark-1);
  width: var(--aside-width);
}
.aside__menu {
  margin: 5rem 0;
  width: 100%;
}
.aside__menu li {
  padding: 2rem 1rem;
  margin-bottom: 0.7rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-size: 1.4rem;
}
.aside__menu li a {
  color: white;
  position: relative;
  z-index: 100;
  text-transform: uppercase;
}
.aside__menu li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2%;
  height: 100%;
  transform: scaleY(0);
  background: var(--primary-light);
  transform-origin: center;
  transition: transform 0.2s, width 0.5s 0.3s;
}
.aside__menu li:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.aside__menu li.active::before {
  cursor: default;
  transition: none;
  transform: scaleY(1);
  width: 100%;
}

.text-input {
  --input-width: 30rem;
  padding: 1.5rem 1rem;
  border-radius: 3rem;
  border: none;
  color: inherit;
  background-color: var(--grey-light-2);
  transition: 0.3s all;
  width: var(--input-width);
}
.text-input:focus {
  outline: none;
}
.text-input.search-input {
  height: 60%;
  margin-right: 5rem;
}
.text-input.search-input:focus {
  width: calc(var(--input-width) + 4rem);
}
.text-input.search-input::placeholder {
  color: var(--grey-light-4);
  font-size: 1.5rem;
}

.nav-icon {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
  cursor: pointer;
}
.nav-icon:hover {
  background-color: var(--grey-light-3);
}
.nav-icon__icon {
  font-size: 3rem;
  color: var(--grey-dark-2);
}
.nav-icon__img {
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1;
  margin-right: 1rem;
}
.nav-icon__badge {
  position: absolute;
  top: 0.5rem;
  right: 0.3rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--primary-light);
  color: white;
  font-size: 1.3rem;
  width: 1.7rem;
  aspect-ratio: 1;
}

.photos {
  display: flex;
  width: 100%;
}
.photos__img {
  max-width: 33.333%;
}

.overview {
  background: var(--grey-light-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overview > div {
  display: flex;
  align-items: center;
}
.overview__place {
  cursor: pointer;
  margin-right: 2rem;
  color: var(--primary-dark);
  transition: all 0.3s;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--primary-dark);
}
.overview__place:hover {
  color: black;
  border-bottom: 1px solid black;
}
.overview__rating {
  background: var(--primary);
  height: 100%;
  color: white;
  text-align: center;
  font-weight: 300;
  padding: 1rem;
}
.overview__rating .rating {
  font-size: 3rem;
}
.features {
  --spacing: 3rem;
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 1.5rem 1.5rem 4rem rgba(0, 0, 0, 0.1);
  flex: 1 0 60%;
  max-width: 60rem;
}
.features .text-secondary:not(:last-of-type) {
  margin-bottom: 2rem;
}
.features .text-secondary:last-of-type {
  margin-bottom: var(--spacing);
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  margin-block: var(--spacing);
  font-size: 2rem;
}
.features__list li {
  flex: 1 1 40%;
}
.features__list li:not(:last-of-type) {
  margin-bottom: 0.6rem;
}
.features__list li:nth-child(odd) {
  margin-right: 0.7rem;
}
.features__recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: var(--spacing);
}
.features__recommend p {
  font-size: 2.2rem;
  margin-right: 1.4rem;
  text-align: center;
}
.features__recommend .recommend_users {
  display: flex;
}
.features__recommend .recommend_users img {
  border-radius: 50%;
  width: 6rem;
  margin-right: -2rem;
  border: 5px solid white;
}

/*# sourceMappingURL=style.css.map */
