.text-primary{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--grey-dark-1);
    font-weight: 300;
    letter-spacing: 3px;
    margin: 1rem 2rem;
    margin-left: 3rem;
}

.text-secondary{
    font-size: 1.7rem;
    color: black;
    letter-spacing: 1px;
}